*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
.logo{
  border-right: 1px solid #dddddd;
  width: 15%;
  padding-right: 20px;
}
header{
  width: 80%;
  margin: 30px auto;
}

ul li{
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px
}

ul a{
  text-decoration: none;
  margin-right: 20px;
  color: #aaaaaa;
}

/* PRIMO BOX BODY */
.banner-hero{
  width: 80%;
  height: 500px;
  margin: 20px auto;
  position: relative;
}

.banner-hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.overlay::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 10px;
}

.hero-text{
  color: white;
  width: 50%;
  position: absolute;
  top: 63%;
  left: 5%;
  z-index: 4;
}

.hero-text h2{
  font-size: 28px;
}

.hero-text p{
  font-size: 15px;
}

/* SECONDO BOX BODY */
.container{
  width: 80%;
  height: 800px;
  margin: 20px auto;
  background-color: #0185fe;
}

.header-container{
  background-color: #abcfe7;
  height: 160px;
}

.box{
  background-color: #abcfe7;
  float: left;
  height: 600px;
  margin: 20px 0;
  width: 24%;
}

.box-center{
  width: 50%;
  margin: 20px 1%;
}

/* FOOTER */
footer{
  background-color: #8801fe;
  width: 80%;
  height: 200px;
  margin: 20px auto;
}
